@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Creepster&family=Rock+Salt&family=Inter:wght@300;400;600&family=Permanent+Marker&family=Playfair+Display:wght@700;900&family=Orbitron:wght@500;700&family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
